.website {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background-color: #EFF9F0;
}

.website_header {
	font-family: 'Orbitron', sans-serif;
	background-color: #00072D;
	color: white;
	text-align: center;
	font-weight: bold;
	letter-spacing: 2px;
}

.website_introduction {
	font-family: 'Roboto', sans-serif;
	background-color: #EFF9F0;
	color: black;
	text-align: center;
	height: 350px;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	padding-bottom: 20px;
	padding-left: 8px;
	padding-right: 8px;
}

.website_categories {
	border-color: #00072D;
	border-style: solid;
	background-color: #00072D;
	font-family: 'Roboto', sans-serif;
}

.website_categories > p {
	border-bottom-color: white;
	border-bottom-style: solid;
	display: flex;
	align-items: flex-end;
	color: white;
}

.website_portfolio {
	background-color: #EFF9F0;
	height: 1200px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.website_portfolio > span {
	font-family: 'Roboto', sans-serif;
	padding-bottom: 60px;
}

.website_portfolio > img {
	height: 100px;
	width: 100px;
}

.website_team--header {
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Roboto', sans-serif;
	background-color: #00072D;
	padding: 10px;
	color: white;
}

.website_team {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	padding-bottom: 25px;
	background-color: #EFF9F0;
}

.website_team--description {
 display: none;
}

.website_team > img:hover {
 opacity: 0.5; 
}

.website_team > img {
	border-radius: 100px;
	border-color: #00072D;
	border-style: solid;
	margin: 10px;
	display: block;
}

.website_contact--header {
	display: flex;
	justify-content: center;
	font-family: 'Roboto', sans-serif;
	padding-top: 15px;
}

.website_contact {
	background-color: #00072D;
	height: 350px;
	color: white;
}

.website_contact--elements {
	display: flex;
}

.website_contact--elements > img {

}

@media (min-width: 10px) and (max-width: 480px) {

.website_header {
	height: 50px;
	padding-top: 30px;
}

.website_introduction {

}

.website_categories {

}

.website_categories > p {
	height: 50px;
}

.website_portfolio {
	flex-direction: column;
	height: 500px;
}

.website_portfolio > span {
	padding-bottom: 100px;
}

.website_team {

}

.website_team > img {
	width: 100px;
}

.website_team img:focus {
	opacity: 0.5;	
}

.website_contact {

}

.website_contact--elements {
	display: flex;
	align-items: center;
	flex-direction: column;
}

.website_contact--elements > img {
	height: 80px;
	width: 80px;
	margin: 5px;
}

}

@media (min-width: 481px) and (max-width: 600px) {

.website_header {
	height: 50px;
	padding-top: 30px;
}

.website_introduction {

}

.website_categories {

}

.website_portfolio {

}

.website_team {

}

.website_contact {

}

.website_contact--elements {
	display: flex;
}

.website_contact--elements > img {

}
}

@media (min-width: 601px) and (max-width: 1204px) {
.website_header {
	height: 50px;
	padding-top: 30px;
}
.website_introduction {

}

.website_categories {

}

.website_portfolio {

}

.website_team {

}

.website_contact {

}

.website_contact--elements {
	display: flex;
}

.website_contact--elements > img {

}
}