.website {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background-color: #EFF9F0;
	scroll-behavior: smooth;
}

.website_header {
	font-family: 'Orbitron', sans-serif;
	background-color: #00072D;
	color: white;
	text-align: center;
	font-weight: bold;
	letter-spacing: 2px;
}

.website_introduction {
	font-family: 'Roboto', sans-serif;
	color: #EFF9F0;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	padding-bottom: 20px;
	padding-left: 8px;
	padding-right: 8px;
	background-image: url('team/mac2.jpg');
	background-size: cover;
	background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center top;
	/*Photo by Luca Bravo on Unsplash*/
}

.website_introduction--paragraph {
	display: none;
}

.shown {
	display: block;
}

.website_categories {
	border-color: #00072D;
	border-style: solid;
	background-color: #00072D;
	font-family: 'Roboto', sans-serif;
	cursor: pointer;
	display: flex;
	justify-content: center;
}

.website_categories > p {
	padding: 20px;
	border-bottom-color: white;
	border-bottom-style: solid;
	display: flex;
	align-items: flex-end;
	color: white;
	font-size: 1.3em;
}

.website_categories--portfolio {
	scroll-behavior: smooth;
}

.website_portfolio {
	background-color: #EFF9F0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.website_portfolio--canvas {
	padding: 10px;
	width: 100vw;
	height: 500px;
	background-color: black;
}

.website_portfolio > span {
	font-family: 'Roboto', sans-serif;
	padding-bottom: 60px;
}

.website_portfolio > img {
	height: 100px;
	width: 100px;
	margin: 40px;
	border: 1px solid black;
	box-shadow: 0 4px 8px 0 #c8cbd1, 0 6px 20px 0 #c8cbd1;
}

.website_team--header {
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Roboto', sans-serif;
	background-color: #00072D;
	padding: 10px;
	color: white;
}

.website_team {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	padding-top: 5px;
	background-color: #EFF9F0;
}

.website_team--description {
 display: none;
}

.website_team > img:hover {
 opacity: 0.5; 
}

.website_team > img {
	border-radius: 100px;
	border-color: #00072D;
	border-style: solid;
	margin: 10px;
	display: block;
	box-shadow: 0 4px 8px 0 #c8cbd1, 0 6px 20px 0 #c8cbd1;
}

.website_map {
	width: 100%;
	padding-top: 10px;
	border: 0;
}

.website_contact {
	padding-top: 0;
	margin: 5px;
	margin-top: 0;
	background-color: #00072D;
	color: white;
	display: flex;
	justify-content: center;
}

.website_contact--header {
	font-family: 'Roboto', sans-serif;
	padding-top: 15px;
	background-color: #00072D;
	padding-right: auto;
	padding-left: auto;
}

.website_contact--elements {
	display: flex;
}

@media (min-width: 10px) and (max-width: 480px) {

.website_header {
	height: 50px;
	padding-top: 30px;
}

.website_introduction {
	height: 450px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center top;
}

.website_categories > p {
	height: 50px;
}

.website_portfolio {
	flex-direction: column;
	height: 700px;
}

.website_portfolio > span {
	padding-bottom: 70px;
}

.website_portfolio > img {
	width: 316px;
	height: 156px;
}

.website_team > img {
	width: 100px;
}

.website_team img:focus {
	opacity: 0.5;	
}

.website_team {
	padding-bottom: 30px;
	padding-top: 30px;
}

.website_map {
	width: 100%;
	height: 200px;
}

.website_contact--elements {
	display: flex;
	align-items: center;
	flex-direction: column;
}

.image {
	height: 100px;
	width: 100px;
	margin: 10px;
}
}

@media (min-width: 481px) and (max-width: 650px) {

.website_header {
	height: 50px;
	padding-top: 30px;
}

.website_introduction {
  height: 450px;
      background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center top; 
}

.website_categories > p {
	height: 50px;
}

.website_portfolio {
	height: 800px;
}

.website_portfolio > img {
	width: 395px;
	height: 195px;
}

.website_team > img {
	width: 130px;
}

.website_team {
	padding-bottom: 45px;
	padding-top: 45px;
}

.website_map {
	width: 100%;
	height: 300px;
}

.website_contact {
	padding-top: 25px;
	height: 350px;
}

.website_contact--elements {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.website_contact--elements > a {
	padding: 25px;
}
}

@media (min-width: 651px) and (max-width: 1204px) {

.website_header {
	font-size: 30px;
	height: 70px;
	padding-top: 30px;
}
.website_introduction {
	height: 480px;
}

.website_categories > p {
	height: 90px;
}

.website_portfolio {
	height: 1200px;
}

.website_portfolio > span {
	font-family: 'Roboto', sans-serif;
	padding-bottom: 60px;
	font-size: 30px;
}

.website_portfolio > img {
	width: 790px;
	height: 390px;
	margin: 40px;
}

.website_portfolio > img {
	height: 200px;
	width: 200px;
}

.website_team--header {
	height: 55px;
	font-size: 30px;
}

.website_team {
	padding-bottom: 70px;
	padding-top: 70px;
}

.website_map {
	width: 100%;
	height: 400px;
}

.website_contact--header {
	font-size: 30px;
}

.website_contact {
	height: 350px;
}

.website_contact--elements {
	padding-top: 25px;
	display: flex;
	justify-content: center;
}

.website_contact--elements > a {
	padding: 20px;
}
}

@media (min-width: 1205px) and (max-width: 3000px) {

.website_header {
	font-size: 30px;
	height: 70px;
	padding-top: 30px;
}

.website_introduction {
	height: 550px;
	font-size: 20px;
}

.website_categories > p {
	height: 90px;
	padding-left: 40px;
	padding-right: 40px;
	font-size: 2em;
}

.website_portfolio {
	height: 1200px;
}

.website_portfolio > span {
	font-family: 'Roboto', sans-serif;
	padding-bottom: 60px;
	font-size: 30px;
}

.website_portfolio > img {
	width: 790px;
	height: 390px;
	margin: 40px;
}

.website_team--header {
	height: 55px;
	font-size: 30px;
}

.website_team {
	padding-bottom: 120px;
	padding-top: 120px;
}

.website_map {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 500px;
}

.website_contact {
	height: 350px;
}

.website_contact--header {
	font-size: 30px;
}

.website_contact--elements {
	align-items: center;
	justify-content: center;
}

.website_contact--elements > a {
	padding: 20px;
}
}